@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<h2>Are you sure you want to delete this Treat?</h2>
@Html.ActionLink("I changed my mind", "Details", "Treats", new { id = Model.TreatId })
<hr />
<h3>@Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(model => model.Name)</h3>
<hr />
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn"/>
}