@{
  Layout = "_Layout";
}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Treat Box</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>    
    <a href='@Url.Action("Index", "Account")'>Account</a>
    <a href='@Url.Action("Index", "FlavorTreat")'>View Your Flavors and Treats</a>
  </body>
  <footer>
    <p>Courtesy of Jason Macie at Epicodus</p>
  </footer>
</html>